@import '../../tools';

header {
    width: 100vw;
    height: 118px;

    .header-container {
        padding: 16px 46px 16px 46px; 
    
        @include display-flex(row, space-between, center);
        
        background: linear-gradient(180deg, rgba(23,23,23,1) 24%, rgba(23,23,23,0) 83%);


        nav {
            @include display-flex(row, spacebetween, center);

            .nav-element {
                margin: 0 53px 0 0;

                color: $main-text-color;
                text-decoration: none;
            }
        }
 
        .profile {
            width: 86px;
            height: 86px;

            cursor: pointer;
        };
    }
}

